# Local path for robonomics collator DB  
BASE_PATH=

# Chain for syncronize, can be kusama or polkadot
CHAIN=      

# Node name for telemetry
NODE_NAME=

# Host ports
PARACHAIN_PORT=
WS_PORT=
PROMETHEUS_PORT=